.mainview {
    height: 95%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.md-sidenav-left .md-avatar-icon {
    margin-left: 0;
}
.md-button.md-fab.md-fab-bottom-right {
    position: fixed;
}

#newItemForm .md-button {
    width: 230px;
}

.md-color-picker-input {
    display: none !important;
}
.md-color-picker-preview {
    width: 100% !important;
    border-radius: 8px !important;
}