body {
    max-width: 960px;
    margin: 0 auto;
}
.mainview {
    height: 95%;
}
.md-sidenav-left .md-avatar-icon {
    margin-left: 0;
}

#newItemForm .md-button {
    /*width: 230px;*/
}

input[type=color] {
    width: 30px;
}

md-toolbar.light {
    color: rgba(0,0,0,0.87);
}

md-toolbar.light md-icon {
    color: rgba(0,0,0,0.87);
}

.overflow-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.list-color {
    margin-right: 10px;
}
.buyed md-list-item{
    color: lightgray;
    text-decoration: line-through;
}