body {
    max-width: 960px;
    margin: 0 auto;
}
.mainview {
    height: 95%;
}
.md-sidenav-left .md-avatar-icon {
    margin-left: 0;
}

#newItemForm .md-button {
    width: 230px;
}

input[type=color] {
    width: 30px;
}