<md-bottom-sheet class="md-grid" ng-cloak>
    <md-subheader>{{bs.item.title}}</md-subheader>
    <md-list flex layout="row" layout-align="center center">
        <md-list-item>
            <md-button ng-click="bs.editItem()" class="md-grid-item-content" >
                <md-icon md-font-set="material-icons">mode_edit</md-icon>
                <div class="md-grid-text"> Изменить </div>
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button ng-click="bs.deleteItem()" class="md-grid-item-content" >
                <md-icon md-font-set="material-icons">delete</md-icon>
                <div class="md-grid-text"> Удалить </div>
            </md-button>
        </md-list-item>
    </md-list>
</md-bottom-sheet>