<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Lists" ng-click="edititem.goBack()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3 flex class="overflow-text">
            <span ui-sref="index" ng-bind="edititem.product.title">Товар</span>
        </h3>
    </div>
</md-toolbar>
<md-content flex layout-padding id="content" layout="column" layout-align="top center">
    <form id="edititemForm" name="edititemForm" ng-submit="edititem.save()" novalidate autocomplete="off">
        <section layout="row">
            <md-autocomplete
                    md-input-id="edit-item-title"
                    md-input-name="title"
                    md-input-minlength="2"
                    md-input-maxlength="200"
                    md-delay="1000"
                    md-selected-item="edititem.selectedItem"
                    md-search-text="edititem.product.title"
                    md-items="item in edititem.querySearch(edititem.product.title)"
                    md-item-text="item.title"
                    md-min-length="2"
                    required
                    md-floating-label="Название товара">
                <md-item-template>
                    <span md-highlight-text="edititem.product.title" md-highlight-flags="^i">{{item.title}}</span>
                </md-item-template>
                <div ng-messages="edititemForm.title.$error">
                    <div ng-message="required">Заполните поле</div>
                    <div ng-message="maxlength">Введите более короткое название</div>
                </div>
            </md-autocomplete>

            <md-input-container class="md-block">
                <label>Количество</label>
                <input name="amount" ng-model="edititem.product.amount" ng-maxlength="45">
                <div ng-messages="edititemForm.amount.$error">
                    <div ng-message="maxlength">Введите более короткое количество</div>
                </div>
            </md-input-container>
        </section>
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!edititemForm.$valid" type="submit">Сохранить</md-button>
        </section>

    </form>
</md-content>