<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Lists" ui-sref="lists">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3 flex class="overflow-text">
            <span ui-sref="index" ng-bind="editlist.list.title">Список</span>
        </h3>
    </div>
</md-toolbar>
<md-content id="content" flex layout-padding layout="column" layout-align="top center">
    <form name="editListForm" ng-submit="editlist.save()" novalidate>
        <section layout="row">
            <md-input-container class="md-block">
                <label>Название списка</label>
                <input required name="title" ng-model="editlist.list.title" autofocus>
                <div ng-messages="editListForm.title.$error">
                    <div ng-message="required">Заполните поле</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Цвет</label>
                <input type="color" required name="color" ng-model="editlist.list.color">
            </md-input-container>
        </section>
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!editListForm.$valid" type="submit">Сохранить</md-button>
        </section>

    </form>
</md-content>