<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Home" ui-sref="index">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3>
            <span>Друзья</span>
        </h3>
    </div>
</md-toolbar>
<md-content flex id="content" layout="column">
    <md-content class="md-padding">
        <form id="firendsSearchForm" ng-submit="$event.preventDefault()">
            <md-autocomplete
                    ng-disabled="frCtrl.isDisabled"
                    md-no-cache="frCtrl.noCache"
                    md-input-minlength="2"
                    md-input-maxlength="10"
                    md-delay="1000"
                    md-selected-item="frCtrl.selectedItem"
                    md-search-text="frCtrl.searchText"
                    md-selected-item-change="frCtrl.selectedItemChange(item)"
                    md-items="item in frCtrl.querySearch(frCtrl.searchText)"
                    md-item-text="item.username"
                    md-min-length="2"
                    placeholder="Имя или email">
                <md-item-template>
                    <span md-highlight-text="frCtrl.searchText" md-highlight-flags="^i">{{item.username}}</span>
                    <span md-highlight-text="frCtrl.searchText" md-highlight-flags="^i">({{item.email}})</span>
                </md-item-template>
                <md-not-found>
                    Пользователей "{{frCtrl.searchText}}" не найдено.
                </md-not-found>
            </md-autocomplete>
        </form>
    <md-list id="list">
        <md-list-item class="md-2-line" ng-repeat="item in frCtrl.friends" ng-click="frCtrl.gotoList(item.id_user)">
                <md-icon md-font-set="material-icons" class="md-avatar-icon material-icons">account_box</md-icon>
                <div class="md-list-item-text overflow-text" layout="column" flex>
                    <h3 class="overflow-text">{{item.username}}</h3>
                    <p>{{item.email}}</p>
                </div>
                <md-button class="md-icon-button" ng-click="frCtrl.deleteFriend(item, $event)">
                    <md-icon md-font-set="material-icons">delete</md-icon>
                </md-button>
                <md-divider ></md-divider>
        </md-list-item>
    </md-list>

    <div ng-hide="frCtrl.friends.length>0" layout="column" layout-align="center center">
        <p>Список пуст</p>
    </div>
</md-content>
