<div class="list-group">
    <a href="/lists/{{item.id_list}}" class="list-group-item" ng-repeat="item in lists.list">
        <div class="list-color pull-left" style="background-color: {{item.color}}">&nbsp;</div>
        {{item.title}}
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
    </a>
</div>

<div ng-hide="lists.list.length>0" class="text-center">
    Список пуст
</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="Новый список" ui-sref="newlist">
    <md-icon md-font-set="material-icons">add</md-icon>
</md-button>