<div class="list-group">
    <a href="/lists/{{item.id_list}}" class="list-group-item" ng-repeat="item in lists.list">
        <div class="list-color pull-left" style="background-color: {{item.color}}">&nbsp;</div>
        {{item.title}}
        <span class="glyphicon glyphicon-chevron-right pull-right" aria-hidden="true"></span>
    </a>
</div>

<div ng-hide="lists.list.length>0" class="text-center">
    Список пуст
</div>
<div class="btn btn-success add-fixed" ui-sref="newlist">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</div>