<md-toolbar md-scroll-shrink style="background-color: {{::listitems.list.color}};" ng-class="{'light': listitems.lightToolbar}">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Lists" ui-sref="lists">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3 flex class="overflow-text">
            <span ng-bind="listitems.list.title">Товары</span>
        </h3>
    </div>
</md-toolbar>
<md-content flex layout-padding id="content" layout="column">
    <md-list>
        <div>
            <md-list-item ng-repeat="item in buyItems = (listitems.items | filter: {checked: '0'})" ng-click="listitems.checkItem(item)">
                <p>{{item.title}}</p>
                <md-button class="md-icon-button" ng-click="listitems.showBottomSheet(item, $event)">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
            </md-list-item>
        </div>
        <div ng-show="buyedItems.length>0" class="buyed">
            <md-subheader class="md-no-sticky">Куплено</md-subheader>
            <md-list-item ng-repeat="item in  buyedItems = (listitems.items | filter: {checked: '1'})" ng-click="listitems.checkItem(item)">
                <p>{{item.title}}</p>
                <md-button class="md-icon-button" ng-click="listitems.showBottomSheet(item, $event)">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
            </md-list-item>
        </div>
    </md-list>

    <div ng-hide="listitems.items.length>0">
        Список пуст
    </div>
</md-content>
<md-button class="md-fab md-fab-bottom-right" aria-label="Добавить товар" ui-sref="newitem({ id_list: listitems.id_list })">
    <md-icon md-font-set="material-icons">add</md-icon>
</md-button>