<md-toolbar md-scroll-shrink style="background-color: {{::listitems.list.color}};" ng-class="{'light': listitems.lightToolbar}">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Lists" ui-sref="lists">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3 flex class="overflow-text">
            <span ng-bind="listitems.list.title">Товары</span>
        </h3>
        <md-menu>
            <md-button aria-label="Действия со списком" class="md-icon-button" ng-click="listitems.openMenu($mdOpenMenu, $event)">
                <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="listitems.selectAll()">
                        <md-icon md-font-set="material-icons" md-menu-align-target>done_all</md-icon>
                        Выбрать все
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="listitems.unselectAll()">
                        <md-icon md-font-set="material-icons" md-menu-align-target>highlight_off</md-icon>
                        Отменить выбор
                    </md-button>
                </md-menu-item>
                <md-divider></md-divider>
                <md-menu-item>
                    <md-button ng-click="listitems.clearList()">
                        <md-icon md-font-set="material-icons" md-menu-align-target>delete</md-icon>
                        Очистить
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
<md-content flex id="content" layout="column">
    <md-list>
        <div>
            <md-list-item ng-repeat="item in buyItems = (listitems.items | filter: {checked: '0'})">
                <md-checkbox ng-model="item.checked" aria-label="Выбрать" ng-true-value="'1'" ng-false-value="'0'" ng-change="listitems.checkItem(item)"></md-checkbox>
                <p flex="80" class="overflow-text">{{::item.title}}</p>
                <p flex="20" class="overflow-text md-caption align-right">{{::item.amount}}</p>
                <md-button class="md-icon-button" ng-click="listitems.showBottomSheet(item, $event)">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
            </md-list-item>
        </div>
        <div ng-show="buyedItems.length>0" class="buyed">
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Куплено</md-subheader>
            <md-list-item ng-repeat="item in  buyedItems = (listitems.items | filter: {checked: '1'})">
                <md-checkbox ng-model="item.checked" aria-label="Выбрать" ng-true-value="'1'" ng-false-value="'0'"  ng-change="listitems.checkItem(item)"></md-checkbox>
                <p flex="80" class="overflow-text">{{::item.title}}</p>
                <p flex="20" class="overflow-text md-caption align-right">{{::item.amount}}</p>
                <md-button class="md-icon-button" ng-click="listitems.showBottomSheet(item, $event)">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
            </md-list-item>
        </div>
    </md-list>

    <div ng-hide="listitems.items.length>0" layout="column" layout-align="center center">
        <p>Список пуст</p>
    </div>
</md-content>
<md-button class="md-fab md-fab-bottom-right" aria-label="Добавить товар" ui-sref="newitem({ id_list: listitems.id_list })">
    <md-icon md-font-set="material-icons">add</md-icon>
</md-button>