<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <span>Вход</span>
        </h3>
    </div>
</md-toolbar>
<md-content flex layout-padding id="content" layout="column">
    <form name="loginForm" ng-submit="login.login()" novalidate>
        <md-input-container class="md-block">
            <label>Имя</label>
            <input required name="username" ng-model="login.username" md-autofocus>
            <div ng-messages="loginForm.username.$error">
                <div ng-message="required">Заполните поле</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Пароль</label>
            <input type="password" required name="pass" ng-model="login.pass">
            <div ng-messages="loginForm.pass.$error">
                <div ng-message="required">Заполните поле</div>
            </div>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!loginForm.$valid" type="submit">Войти</md-button>
            <md-button class="md-raised" ui-sref="register">Регистрация</md-button>
        </section>

    </form>
</md-content>
