<div layout="column" ng-cloak>
    <form name="loginForm" ng-submit="login.login()" novalidate>
        <h2 class="form-signin-heading">Вход</h2>
        <md-input-container class="md-block">
            <label>Имя</label>
            <input required name="username" ng-model="login.username">
            <div ng-messages="loginForm.username.$error">
                <div ng-message="required">Заполните поле</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Пароль</label>
            <input type="password" required name="pass" ng-model="login.pass">
            <div ng-messages="loginForm.pass.$error">
                <div ng-message="required">Заполните поле</div>
            </div>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!loginForm.$valid || login.disabled" type="submit">Войти</md-button>
            <md-button class="md-raised" ng-disabled="login.disabled" ui-sref="register">Регистрация</md-button>
        </section>

    </form>
</div>