<div class="row">
    <div class="col-xs-6 col-md-3">
        <div id="purchases" class="thumbnail-main btn btn-success" ui-sref="lists">
            <i class="material-icons">assignment</i>
            <p>Покупки</p>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id="friends" class="thumbnail-main btn btn-primary">
            <i class="material-icons">people</i>
            <p>Друзья</p>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id="profile" class="thumbnail-main btn btn-warning" ui-sref="profile">
            <i class="material-icons">account_box</i>
            <p>Профиль</p>
        </div>
    </div>
    <div class="col-xs-6 col-md-3">
        <div id="about" class="thumbnail-main btn btn-info">
            <i class="material-icons">info</i>
            <p>О программе</p>
        </div>
    </div>
</div>