<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Lists" ng-click="newitem.goBack()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3>
            <span>Новый товар</span>
        </h3>
    </div>
</md-toolbar>
<md-content flex layout-padding id="content" layout="column" layout-align="top center">
    <form id="newItemForm" name="newItemForm" ng-submit="newitem.add()" novalidate autocomplete="off">
        <section layout="row">
            <md-autocomplete
                    md-input-id="new-item-title"
                    md-input-name="title"
                    md-input-minlength="2"
                    md-input-maxlength="200"
                    md-delay="1000"
                    md-selected-item="newitem.selectedItem"
                    md-search-text="newitem.product.title"
                    md-items="item in newitem.querySearch(newitem.product.title)"
                    md-item-text="item.title"
                    md-min-length="2"
                    required
                    md-floating-label="Название товара">
                <md-item-template>
                    <span md-highlight-text="newitem.product.title" md-highlight-flags="^i">{{item.title}}</span>
                </md-item-template>
                <md-not-found>
                    Не найдено
                </md-not-found>
                <div ng-messages="newItemForm.title.$error">
                    <div ng-message="required">Заполните поле</div>
                    <div ng-message="maxlength">Введите более короткое название</div>
                </div>
            </md-autocomplete>

            <md-input-container class="md-block">
                <label>Количество</label>
                <input name="amount" ng-model="newitem.product.amount" ng-maxlength="45">
                <div ng-messages="newItemForm.amount.$error">
                    <div ng-message="maxlength">Введите более короткое количество</div>
                </div>
            </md-input-container>
        </section>
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!newItemForm.$valid" type="submit">Еще</md-button>
            <md-button class="md-raised " ng-disabled="!newItemForm.$valid" ng-click="newitem.addReturn();">Хватит</md-button>
        </section>

    </form>
</md-content>