<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Lists" ng-click="newitem.goBack()">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3>
            <span>Новый товар</span>
        </h3>
    </div>
</md-toolbar>
<md-content flex layout-padding id="content" layout="column">
    <form id="newItemForm" name="newItemForm" ng-submit="newitem.add()" novalidate>
        <md-input-container class="md-block">
            <label>Название товара</label>
            <input id="new-item-title" name="title" ng-model="newitem.product.title" autofocus ng-maxlength="200" required>
            <div ng-messages="newItemForm.title.$error">
                <div ng-message="required">Заполните поле</div>
                <div ng-message="maxlength">Введите более короткое название</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Количество</label>
            <input name="amount" ng-model="newitem.product.amount" ng-maxlength="45">
            <div ng-messages="newItemForm.amount.$error">
                <div ng-message="maxlength">Введите более короткое количество</div>
            </div>
        </md-input-container>
        <section layout="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!newItemForm.$valid || newitem.disabled" type="submit">Добавить и продолжить</md-button>
            <md-button class="md-raised " ng-disabled="!newItemForm.$valid || newitem.disabled" ng-click="newitem.addReturn();">Добавить и вернуться</md-button>
        </section>

    </form>
</md-content>