<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Lists" ui-sref="lists">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3>
            <span ui-sref="index">Новый список</span>
        </h3>
    </div>
</md-toolbar>
<md-content id="content" flex layout-padding layout="column" layout-align="top center">
    <form name="newListForm" ng-submit="newlist.add()" novalidate>
        <section layout="row">
            <md-input-container class="md-block">
                <label>Название списка</label>
                <input required name="title" ng-model="newlist.title" autofocus>
                <div ng-messages="newListForm.title.$error">
                    <div ng-message="required">Заполните поле</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <input type="color" required name="color" ng-model="newlist.color">
            </md-input-container>
        </section>
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!newListForm.$valid || newlist.disabled" type="submit">Создать</md-button>
        </section>
    </form>
</md-content>