<div layout="column" ng-cloak>
    <form name="newListForm" ng-submit="newlist.add()" novalidate>
        <h2>Новый список</h2>
        <md-input-container class="md-block">
            <label>Название списка</label>
            <input required name="title" ng-model="newlist.title" autofocus>
            <div ng-messages="newListForm.title.$error">
                <div ng-message="required">Заполните поле</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Цвет</label>
            <div md-color-picker
                 ng-model="newlist.colorVar.color"
                 md-color-alpha-channel="false"
                 md-color-spectrum="false"
                 md-color-sliders="false"
                 md-color-material-palette="false"
                 md-color-clear-button="false"
            ></div>
        </md-input-container>
        <section layout="row" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!newListForm.$valid || $newlist.disabled" type="submit">Создать</md-button>
        </section>

    </form>
</div>