<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <h3>
            <span>Регистрация</span>
        </h3>
    </div>
</md-toolbar>
<md-content flex layout-padding id="content" layout="column">
    <form name="registerForm" ng-submit="register.register()" novalidate>
        <md-input-container class="md-block">
            <label>Имя</label>
            <input required name="username" ng-model="register.username" md-autofocus />
            <div ng-messages="registerForm.username.$error">
                <div ng-message="required">Заполните поле</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Email</label>
            <input type="email" required name="email" ng-model="register.email" />
            <div ng-messages="registerForm.email.$error">
                <div ng-message="email">Укажите правильный адрес email</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Пароль</label>
            <input type="password" required name="pass1" ng-model="register.pass1" />
            <div ng-messages="registerForm.pass1.$error">
                <div ng-message="required">Заполните поле</div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Повторите пароль</label>
            <input type="password" required name="pass2" ng-model="register.pass2" />
            <div ng-messages="registerForm.pass2.$error">
                <div ng-message="required">Заполните поле</div>
            </div>
        </md-input-container>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-disabled="!registerForm.$valid || register.pass1!==register.pass2" type="submit">Регистрация</md-button>
            <md-button class="md-raised" ui-sref="login">Войти</md-button>
        </section>

    </form>
</md-content>