<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Lists" ui-sref="lists">
            <md-icon md-font-set="material-icons">arrow_back</md-icon>
        </md-button>
        <h3>
            <span>Поделиться</span>
        </h3>
    </div>
</md-toolbar>
<md-content flex id="content" layout="column" class="md-padding">
    <md-list id="sharelist">
        <md-list-item ng-repeat="item in shareCtrl.friends">
            <md-icon md-font-set="material-icons" class="md-avatar-icon material-icons">account_box</md-icon>
            <p>{{item.username}}</p>
            <md-checkbox class="md-secondary" ng-model="item.checked" aria-label="Выбрать" ng-change="shareCtrl.checkItem(item)"></md-checkbox>
            <md-divider ></md-divider>
        </md-list-item>
    </md-list>

    <div ng-hide="shareCtrl.friends.length>0" layout="column" layout-align="center center">
        <p>Список пуст</p>
    </div>
</md-content>
